* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* banner style*/
.banner {
  background-color: #e554731a;
  padding: 20px 240px 0px 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-right: 80px;
  margin-top: 150px;
}
.banner-description {
  color: #27272799;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: #e55473;
  border-radius: 5px;
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
  text-align: center;
}

.banner-img {
  width: 500px;
}

/* aside */
.featured-items {
  max-width: 1440px;
  margin-top: 150px;
  margin-left: 240px;
  text-align: center;
}

.featured-flowers {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.featured-flowers-description {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 50px;
}

.flower-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img-1 {
  margin: 100px 75px 0px 75px;
}

.img-1-design {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #a7216226;
  padding-bottom: 0px;
}

.img-1-description {
  margin-top: 25px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.img-2 {
  margin: 110px 45px 50px 45px;
}
.img-2-design {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #0597a026;
}
.img-2-description {
  margin-top: 25px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
.img-3 {
  margin: 60px 45px 0px 45px;
}
.img-3-design {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: #477d1126;
}
.img-3-description {
  margin-top: 25px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}

.support {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 125px;
  margin-bottom: 125px;
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: #2727270d;
}
/* footer style*/

.footer {
  background-color: #111010;
  text-align: center;
  padding-top: 120px;
  color: white;
}

.pink-text {
  color: #e55473;
}
.footer-description {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 20px;
}
.copyright {
  color: #ffffff66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  padding-bottom: 120px;
}
/* Hot Deal Style*/
.hot-deals {
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deals-content {
  text-align: center;
}

.deals-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.discount {
  color: #e55473;
}

/* Social-media styles */

.social-media-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 120px;
  margin-bottom: 20px;
}

.social-media-description {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 45px;
}
.image-cointainer {
  margin-left: 240px;
  margin-bottom: 125px;
}
.pic-1 {
  padding-right: 20px;
}
.pic-2 {
  padding-right: 20px;
}
.pic-3 {
  padding-right: 20px;
}
.pic-4 {
  padding-right: 20px;
}

.get-email {
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background: url(./Flower-Asset/Rectangle\ 9.png), no-repeat;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 125px;
}
.email-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-top: 120px;
}
.email-details {
  color: #27272799;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 45px;
}

.email-input {
  width: 700px;
  height: 64px;
  margin-left: 285px;
  border-radius: 8px;
  background: #fff;
  border: none;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  text-align: left;
  margin-top: 45px;
}
.social-media {
}
.btn-email {
  color: #fff;
  font-weight: 700;
  background: #e55473;
  border-radius: 5px;
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  height: 64px;
}
