* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
/* banner style*/
.banner {
  background-color: #e554731a;
  padding: 20px 240px 0px 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-right: 80px;
  margin-top: 150px;
}
.banner-description {
  color: #27272799;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: #e55473;
  border-radius: 5px;
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
  text-align: center;
}

.banner-img {
  width: 600px;
}
/* footer style*/

.footer {
  background-color: #111010;
  text-align: center;
  padding-top: 120px;
}

.pink-text {
  color: #e55473;
}
.footer-description {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.copyright {
  color: #ffffff66;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  padding-bottom: 120px;
}
h2 {
  color: white;
  margin-bottom: 20px;
}
/* Hot Deal Style*/
.hot-deals {
  background-color: #e554730d;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deals-content {
  text-align: center;
}

.deals-title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.discount {
  color: #e55473;
}
