* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.banner {
  background-color: #e554731a;
  padding: 20px 240px 0px 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
  margin-right: 80px;
  margin-top: 150px;
}
.banner-description {
  color: #27272799;
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
}

.btn-primary {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  background: #e55473;
  border-radius: 5px;
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
  text-align: center;
}

.banner-img {
  width: 600px;
}
.footer {
  background-color: #111010;
  text-align: center;
  padding-top: 120px;
}

.pink-text {
  color: #e55473;
}
.footer-description {
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
h2 {
  color: white;
  margin-bottom: 20px;
}
